@font-face {
  font-family: "ABeeZee";
  src: url("/fonts/ABeeZee-Italic.ttf") format("woff2"), url("/fonts/ABeeZee-Italic.ttf") format("woff"), url("/fonts/ABeeZee-Italic.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 119px;
  width: 100%;
  background-color: #F4F9E2;
}
header nav {
  width: 21.5972222222%;
  display: flex;
  flex-direction: row;
  gap: 22.1864951768%;
  margin-left: 16.9444444444%;
  margin-right: 22.0138888889%;
}
header nav a {
  font-size: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  border-bottom: 1px solid black;
}
header figure {
  margin-left: 11.5972222222%;
  width: 8.1944444444%;
  height: 99.1596638655%;
}
header figure img {
  width: 118px;
  height: 118px;
}
header button {
  display: flex;
  flex-direction: row;
  border: 0;
  background-color: #F9B640;
  width: 10.4166666667%;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 9.2361111111%;
  font-size: 14px;
}

main {
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.AboutUs {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #F4F9E2;
  justify-content: center;
  padding-bottom: 88px;
}
.AboutUs figure {
  margin-top: 83px;
  width: 37.7083333333%;
}
.AboutUs article {
  margin-top: 126px;
  margin-right: 50px;
  width: 42.0138888889%;
  color: #22356F;
}
.AboutUs article h1 {
  font-size: 48px;
  line-height: 53.9px;
  height: 90px;
  font-weight: 400;
}
.AboutUs article p {
  font-size: 24px;
  line-height: 42.55px;
  width: 100%;
  word-spacing: 7px;
  margin-top: 46px;
  font-style: normal;
}

.OfferContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #62D0DF;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
}
.OfferContainer article {
  margin-left: 11.875%;
  margin-right: 11.1111111111%;
  width: 40.6944444444%;
  text-align: justify;
}
.OfferContainer article h1 {
  font-size: 36px;
  line-height: 27.66px;
  margin-top: 131px;
  font-weight: 400;
  font-style: italic;
}
.OfferContainer article p {
  width: 100%;
  font-size: 24px;
  line-height: 35.46px;
  margin-top: 27px;
}
.OfferContainer figure {
  overflow-y: hidden;
  width: 36.1111111111%;
}
.OfferContainer figure img {
  width: 100%;
  height: 100%;
}

.AdditionalInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 633px;
}
.AdditionalInfo article {
  display: flex;
  flex-direction: column;
  margin-left: 397px;
  margin-right: 304px;
  width: 55.0694444444%;
  font-size: 24px;
  gap: 34px;
  letter-spacing: 0.5%;
  color: #22356F;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  height: 480px;
  justify-content: center;
}
.cardsContainer .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #22356F;
  width: 33.3333333333%;
}
.cardsContainer .first article {
  width: 70.8333333333%;
  color: white;
  border-top: 1px solid white;
  text-align: start;
  margin-top: 96px;
  padding-top: 34px;
  font-size: 32px;
  font-weight: 400px;
  letter-spacing: -0.6%;
  line-height: 34.04px;
}
.cardsContainer .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0052C1;
  width: 33.3333333333%;
}
.cardsContainer .second article {
  width: 70.8333333333%;
  color: white;
  border-top: 1px solid white;
  text-align: start;
  margin-top: 96px;
  padding-top: 34px;
  font-size: 32px;
  font-weight: 400px;
  letter-spacing: -0.6%;
  line-height: 34.04px;
}
.cardsContainer .third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #76B58B;
  width: 33.3333333333%;
}
.cardsContainer .third article {
  width: 70.8333333333%;
  color: white;
  border-top: 1px solid white;
  text-align: start;
  margin-top: 96px;
  padding-top: 34px;
  font-size: 32px;
  font-weight: 400px;
  letter-spacing: -0.6%;
  line-height: 34.04px;
}

.RentInfo {
  display: flex;
  flex-direction: row;
  height: 800px;
  overflow: hidden;
  justify-content: center;
}
.RentInfo article {
  display: flex;
  flex-direction: column;
  width: 46.9444444444%;
  color: #22356F;
  margin-top: 242px;
  margin-left: 4.6527777778%;
  margin-right: 4.1666666667%;
  gap: 49px;
}
.RentInfo article h1 {
  font-size: 36px;
  line-height: 27.66px;
  letter-spacing: -0.6%;
}
.RentInfo article p {
  font-size: 36px;
  font-weight: 400;
  line-height: 53.19px;
  letter-spacing: -1%;
  text-align: justify;
}
.RentInfo figure {
  width: 44.2361111111%;
}
.RentInfo figure img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .AboutUs {
    flex-direction: column;
    align-items: center;
  }
  .AboutUs article {
    margin-top: 30px;
    line-height: 34px;
    overflow-x: visible;
  }
  .AboutUs article p {
    text-align: center;
    line-height: 28px;
  }
  .AboutUs article h1 {
    text-align: center;
  }
  .OfferContainer article h1 {
    margin-top: 20px;
  }
  .AdditionalInfo {
    font-size: 28px;
  }
  .cardsContainer {
    height: 343px;
  }
}
@media (max-width: 830px) {
  .OfferContainer {
    flex-direction: column;
  }
  .OfferContainer article {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .OfferContainer figure {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
  }
  .OfferContainer figure img {
    width: 100%;
    height: 604px;
    position: relative;
    top: -145px;
  }
  .cardsContainer .first article {
    font-size: 24px;
  }
  .cardsContainer .second article {
    font-size: 24px;
  }
  .cardsContainer .third article {
    font-size: 24px;
  }
  .AdditionalInfo article {
    margin: 0;
  }
  .RentInfo article p {
    text-align: center;
    font-size: 24px;
  }
  .RentInfo figure {
    overflow-x: hidden;
  }
  .RentInfo figure img {
    height: 100%;
    width: 637px;
  }
}
@media (max-width: 680px) {
  header {
    justify-content: space-between;
  }
  header figure {
    display: none;
  }
  header nav {
    margin-left: 10%;
    width: 35%;
  }
  header button {
    width: 15%;
  }
  .OfferContainer article p {
    margin-bottom: 5%;
  }
  .cardsContainer {
    height: 206px;
  }
  .cardsContainer .first article {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .cardsContainer .second article {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .cardsContainer .third article {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .RentInfo {
    height: 500px;
  }
  .RentInfo article {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header button {
    width: 25%;
  }
  .AboutUs article {
    margin-right: 0;
    align-self: center;
    width: 75%;
  }
  .AboutUs article p {
    font-size: 18px;
  }
  .AboutUs article h1 {
    font-size: 32px;
  }
  .cardsContainer .first article {
    font-size: 14px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .cardsContainer .second article {
    font-size: 14px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .cardsContainer .third article {
    font-size: 14px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .OfferContainer article p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 375px) {
  .cardsContainer {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .cardsContainer .first {
    width: 100%;
  }
  .cardsContainer .first article p {
    font-size: 24px;
    text-align: center;
  }
  .cardsContainer .second {
    width: 100%;
  }
  .cardsContainer .second article p {
    font-size: 24px;
    text-align: center;
  }
  .cardsContainer .third {
    width: 100%;
  }
  .cardsContainer .third article p {
    font-size: 24px;
    text-align: center;
  }
  .RentInfo article p {
    line-height: normal;
  }
}/*# sourceMappingURL=style.css.map */